.carousel-container {
    margin: 0px 50px;
  }
  
  .carousel-item {
    padding: 0 10px; /* Separación entre los slides */
    box-sizing: border-box; /* Asegurar que el padding no afecte el tamaño total */
  }
  
  .carousel-image {
    position: relative;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .carousel-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .arrow {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    border-radius: 30px;
    margin: 0px -10px;
    /* color: white;  */
    padding: 10px;
    /* border-radius: 10%; */
  }
  
  .arrow.prev {
    left: -30px; 
  }
  
  .arrow.next {
    right: -30px; 
  }
  
  .arrow:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8); /* Cambiar el fondo al pasar el mouse */
  }
  